# torch와 torchvision은 아래 명령어로 따로 다운 받아야 함
# pip install torch==2.3.0+cu118 torchvision==0.18.0+cu118 -f https://download.pytorch.org/whl/torch_stable.html
spacy==3.5.2
pytorch-lightning==1.7.7
torchmetrics==0.10.0
transformers==4.21.1
joblib
rouge-score
sacrebleu